{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    ["babel-plugin-transform-es2015-modules-commonjs", { "allowTopLevelThis": true }],
    ["babel-plugin-jest-hoist", {}]
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-transform-es2015-modules-commonjs", { "allowTopLevelThis": true }],
        ["babel-plugin-jest-hoist", {}]
      ]
    }
  },
  "overrides": [
    {
      "test": ["**/*.test.js"],
      "plugins": [
        ["babel-plugin-transform-es2015-modules-commonjs", { "allowTopLevelThis": true }],
        ["babel-plugin-jest-hoist", {}]
      ]
    }
  ]
}
